@import "../../styles/variables.scss";

.main-lg {
  position: relative;
  min-height: 100vh;
}

.main-lg > img {
  position: absolute;
  top: 30px;
  right: 30px;
}

.main-lg .form-input {
  width: 100%;
  background-color: $main-bg; // Input background color
  color: #2a3447; // Input text color
  border: 1px solid #2a3447; // Input border color
  border-radius: 4px;
  padding: 15px;
  margin: 10px 0;
  font-size: 0.9rem;
}

.main-lg .form-button {
  width: 100%;
  color: #2a3447;
  border: 1px solid #2a3447;
  border-radius: 4px;
  padding: 15px;
  margin: 15px 0;
  font-size: 0.9rem;
  cursor: pointer;
}
