// BG
// $main-bg: #2a3447;
// $soft-bg: #4a5569;
// $dark-bg: #222b3c;
// //TEXT
// $main-color: white;
// $soft-color: #ddd;
// $dark-color: #2a3447;

$main-bg: #ffffff;
$soft-bg: #a8a8a8;
$dark-bg: #2a3447;
//TEXT
$main-color: #2a3447;
$soft-color: #384256;
$dark-color: #222b3c;
